header {
    .navbar-default {
        padding-top: 15px;
        .navbar-header {
            img {
                max-height: 65px;
                width: auto;
            }
        }
    }
    #top-menu {
        @include abovePhone {
            top: 10px !important;
        }
        .menu-item {
            a {
                @include small {
                    padding-left: 8px !important;
                    padding-right: 8px !important;
                }
                background: transparent !important;
                @include abovePhone {
                    span.caret {
                        display: none;
                    }
                }
            }
        }
    }
    .topnav form input[type="text"] {
        border-radius: 0 !important;
    }
}

.home-slider {
    .slide-img::after {
        display: none !important;
    }
    .slide-txt {
        background: transparent !important;
    }
    
    &, .owl-slider, .owl-item, .slide-img, .owl-item, .owl-slide {
        height: calc(100vh - 32px) !important;
        min-height: 700px !important;
    }
}

.quick-hit {
    padding: 65px 0 65px 0;
    p {
        margin-bottom: 0;
    }
}

body.home {
    @include phone {
        .navbar-toggle {
            top: 10px;
        }
        
        .home-slider .owl-slider .owl-slide .slide-img {
            max-height: unset !important;
        }
        
        .home-slider .owl-slider .owl-slide {
            max-height: unset !important;
        }
        
        .home-slider .owl-slider .owl-controls .owl-buttons {
            top: 50% !important;
            transform: translateY(-50%) !important;
        }
        
    }
    section.a-e-p-section {
        padding: 100px 0 100px 0;
        .a-e-p-buttons {
            margin-bottom: 50px;
            .a-button > a {
                background: #eee;
                @include phone {
                    margin-bottom: 25px;
                }
            }
        }   
    }
    @mixin clientSliderArrowFix {
        div.owl-prev {
            left: 0 !important;
        }
        
        div.owl-next {
            right: 0 !important;
        }
    }
    @include phone {
       @include clientSliderArrowFix;
    }
    @include small {
        @include clientSliderArrowFix;
    }

    .owl-carousel-clients .item img {
        padding: 0 20px 0 20px;
        object-fit: contain;
    }
    .our-team-box {
        background: white;
    }
    
}